<div id="notificacion"></div>
<div style="display: flex; flex-direction: row;">
  <div style="width: 300px; margin-right: 100px;" >
    
    <div style="margin: 20px;">
        <table class="table table-dark">
          <thead>
            <tr>
              <th style="width: 50%;">Nombre</th>
              <th style="width: 30%;">Precio</th>
              <th style="width: 20%;">Foto</th>
            </tr>
          </thead>
          <tbody id="contenido">

          </tbody>
        </table>
        <fieldset>
            <div>
              <button id="send" onclick="addProduct(); return false;" class="btn btn-success">Add</button>
            </div>
        </fieldset>
        <div id="error-productos"></div>
    </div>

  </div>
</div>
<script>
  const socket = io();
  socket.on("errores", (error)=> {
    console.log(error);
    const inner = `<div class="alert alert-danger style="width: 100px">${error.error}</div>`;
    document.getElementById('notificacion').innerHTML=inner;
  })
  socket.on("notificacionBack", ()=> {
    traerProductos();
    const inner = `<div class="alert alert-success style="width: 100px">Producto Ingresado correctamente</div>`;
    document.getElementById('notificacion').innerHTML=inner;
  })
  socket.on("dataBackend", ()=> {
    traerProductos();
  })
  function loadProductos() {
    fetch('http://localhost:8080/api/productos-test/popular', {
      method: 'POST'
    })
    .then(res => res.json())
    .then(datos => {
      tabla(datos);
    })
  }
  function traerProductos() {
    fetch('http://localhost:8080/api/productos-test', {
      method: 'GET'
    })
    .then(res => res.json())
    .then(datos => {
      tabla(datos);
    })
  }
  function tabla(datos) {
    let inner = '';
    if (!datos.error) {
      for (let product of datos.products) {
      inner += `
        <tr style="height: 50px;">
          <td>${product.title}</td>
          <td>$${product.price}</td>
          <td><img
              src=${product.thumbnail}
              alt="foto"
              class="img-fluid img-thumbnail"
          /></td>
        </tr>
        `
      }
      document.getElementById('contenido').innerHTML=inner;
    } else {
      inner += `<div class="alert alert-warning">No hay productos</div>`
      document.getElementById('error-productos').innerHTML=inner;
    }
    
  }
  loadProductos()
  function addProduct() { 
    fetch("http://localhost:8080/api/productos-test",{
      method: "POST",
    })
    traerProductos(); 
  }
</script>