<div id="notificacion"></div>
<div style="display: flex; flex-direction: row;">
  <div style="width: 300px; margin-right: 100px;" >
    <fieldset>
      <form onsubmit="addProduct()" style="margin: 20px;">
        <h4 style="color: #0000ff; font-weight: bold; padding-bottom: 20px;">Ingrese
          el Producto</h4>
        <div class="form-group">
          <label for="title" style="font-weight: bold;">Title</label>
          <input
            type="text"
            name="title"
            id="title"
            placeholder="Enter Title"
            class="form-control"
            required
          />

        </div>
        <div class="form-group">
          <label for="price" style="font-weight: bold;">Price</label>
          <input
            type="number"
            name="price"
            class="form-control"
            id="price"
            required
          />

        </div>
        <div class="form-group">
          <label for="thumbnail" style="font-weight: bold;">Thumbnail Link</label>
          <input
            type="text"
            name="thumbnail"
            id="thumbnail"
            placeholder="Enter Thumbnail Link"
            class="form-control"
            required
          />

        </div>
        <div>
          <button id="send" type="submit" class="btn btn-success">Guardar</button>
        </div>

      </form>
    </fieldset>
    <div style="margin: 20px;">
      {{! <h4 style="color: blue; font-weight: bold;">Vista de Productos</h4> }}
      {{!-- {{#if exist}} --}}
        <table class="table table-dark">
          <thead>
            <tr>
              <th style="width: 50%;">Nombre</th>
              <th style="width: 30%;">Precio</th>
              <th style="width: 20%;">Foto</th>
            </tr>
          </thead>
          <tbody id="contenido">

          </tbody>
          
          {{!-- {{#each data}} --}}
            {{!-- <tr style="height: 50px;">
              <td>{{this.title}}</td>
              <td>${{this.price}}</td>
              <td><img
                  src={{this.thumbnail}}
                  alt="foto"
                  class="img-fluid img-thumbnail"
                /></td>
            </tr> --}}
          {{!-- {{/each}} --}}

        </table>
        <div id="error-productos"></div>
      {{!-- {{else}} --}}
        {{!-- <div class="alert alert-warning">
          No hay productos
        </div>
      {{/if}} --}}
    </div>

  </div>
  <div style="width: 500px; margin: 20px; background-color: rgb(207, 207, 207);">
    <div style="padding: 10px; margin: 20px;">
      <h4 style="color: #0000ff; font-weight: bold; ">Centro de Mensajes</h4>
      <fieldset>
        <form onsubmit="addMessage()">
          <div class="form-group">
            <input
              type="email"
              name="email"
              id="email"
              placeholder="Enter email"
              class="form-control"
              required
            />
          </div>
          
          <div style="background-color: beige;" id="messages"></div>
          
          <div style="display: flex; flex-direction: row; justify-content: space-between; margin-top: 20px;">
            <div style="margin-right: 20px; width: 80%;">
              <input
                type="text"
                name="message"
                id="message"
                placeholder="Enter message"
                class="form-control"
                required
              />
            </div>
              <button type="submit" id="send" class="btn btn-primary">Enviar</button>
            </div>
        </form>
      </fieldset>
      

    </div>
  </div>
</div>


<script>
  const socket = io();
  socket.on('messageBackend',(data)=>{ 
    let inner=''; 
    data.map((message)=>{ 
      inner+=`<div><strong style="color: blue;">${message.email}</strong> [<i style="color: rgb(238, 84, 84)">${message.fecha}</i>] : ${message.message}</div>`
    }) 
      
    document.getElementById('messages').innerHTML=inner;
  }) 

  socket.on("my-error", (data)=>{ 
    console.log(data);
    let inner=''; 
    inner += `<div class="alert alert-danger">${data}</div>`
    document.getElementById('notificacion').innerHTML=inner;
  });
  
  socket.on("dataBackend", ()=> {
    traer();
  })
  function traer() {
    fetch('http://localhost:8082/api/productos')
    .then(res => res.json())
    .then(datos=> {
      tabla(datos)
    })
  }
  function tabla(datos) {
    let inner = '';
    if (!datos.error) {
      for (let product of datos) {
      inner += `
        <tr style="height: 50px;">
          <td>${product.title}</td>
          <td>${product.price}</td>
          <td><img
              src=${product.thumbnail}
              alt="foto"
              class="img-fluid img-thumbnail"
          /></td>
        </tr>
        `
      }
      document.getElementById('contenido').innerHTML=inner;
    } else {
      inner += `<div class="alert alert-warning">No hay productos</div>`
      document.getElementById('error-productos').innerHTML=inner;
    }
    
  }
  traer()
  function addMessage(){ 
    const email = document.getElementById('email').value;
    const message = document.getElementById('message').value;
    socket.emit('messageFront',{ email, message });
  } 
  function addProduct() { 
    const title = document.getElementById('title').value; 
    const price = document.getElementById('price').value; 
    const thumbnail = document.getElementById('thumbnail').value; 
    socket.emit('dataFront',{ title, price, thumbnail });
    traer(); 
  }
</script>