<div style="margin: 20px; width: 25%;">
  <h4 style="color: blue; font-weight: bold;">Vista de Productos</h4>
  {{#if exist}}
    <table class="table table-dark">
      <thead>
        <tr>
          <th style="width: 50%;">Nombre</th>
          <th style="width: 30%;">Precio</th>
          <th style="width: 20%;">Foto</th>
        </tr>
      </thead>

      {{#each data}}
        <tr style="height: 50px;">
          <td>{{this.title}}</td>
          <td>${{this.price}}</td>
          <td><img
              src={{this.thumbnail}}
              alt="foto"
              class="img-fluid img-thumbnail"
            /></td>
        </tr>
      {{/each}}

    </table>
  {{else}}
    <div class="alert alert-warning">
      No hay productos
    </div>
  {{/if}}
  <a href="/">
    <button class="btn btn-primary">Volver</button>
  </a>
</div>