<form action="/productos" method="POST">
  <p>Producto</p>
  <input type="text" placeholder="Nombre" name="title" />
  <br />
  <input type="number" name="price" />
  <br />
  <input type="text" placeholder="URL thumbnail" name="thumbnail" />
  <br />
  <button type="submit">Guardar</button>
  
</form>
<a href="/productos">
    <button>Productos</button>
</a>
