<div id="notificacion"></div>
<nav style="display: flex; width: 100%; height: 50px; flex-direction: row; background-color: rgb(12, 12, 12);">
  <ul class="navbar-nav ml-auto" style="align-content: space-around; flex-direction: row;">
    <li class="nav-item" style="margin-right: 20px; margin-top: 5px;">
      <a class="btn btn-dark" href="/"><span class="fa fa-sign-out"></span><span>Home</span></a>
    </li>
    <li class="nav-item" style="margin-right: 20px;margin-top: 5px;">
      <a class="btn btn-dark" href="/carrito"><span class="fa fa-sign-out"></span><span>Carrito</span></a>
    </li>
    <li class="nav-item" style="margin-right: 20px;margin-top: 5px;">
      <a class="btn btn-dark" href="/logout"><span class="fa fa-sign-out"></span><span>Desloguear</span></a>
    </li>
  </ul>
</nav>
<div class="alert alert-success"
  style="display: flex; flex-direction: row; width: 100%; justify-content: space-between;">
  <div style="display: flex; flex-direction: row;"><img src='{{photo}}' alt="foto" class="img-fluid img-thumbnail"
      style="height: 40px; border-radius: 25px; margin-right: 10px;" />
    <h4>Bienvenido {{username}} </h4>
  </div>
</div>

<div style="display: flex; flex-direction: row;">


  <div style="width: 500px; margin-right: 100px;">
    <div style="margin: 20px;">
      <table class="table table-dark">
        <thead>
          <tr>
            <th style="width: 50%;">Nombre</th>
            <th style="width: 20%;">Precio</th>
            <th style="width: 10%;">Foto</th>
            <th style="width: 10%;">Agregar</th>

          </tr>
        </thead>
        <tbody id="contenido">

        </tbody>

      </table>
      <div id="error-productos"></div>
    </div>

  </div>

</div>
<script>

  function traerProductos() {
    fetch(`https://servercoderhouse.herokuapp.com/productos`)
      .then(res => res.json())
      .then(datos => {
        tabla(datos);
      })
  }
  function agregarAlCarrito() {
    console.log("sisas")
  }
  function tabla(datos) {
    let inner = '';
    if (!datos.error) {
      for (let product of datos.products) {
        inner += `
        <tr style="height: 50px;">
          <td>${product.title}</td>
          <td>$${product.price}</td>
          <td><img
              src=${product.thumbnail}
              alt="foto"
              class="img-fluid img-thumbnail"
          /></td>
          <td>
            <button onclick={agregarAlCarrito()} 
              style="background: none;
                    color: inherit;
                    border: none;
                    padding: 0;
                    font: inherit;
                    cursor: pointer;
                    outline: inherit;">
              <a style="margin-left: 20px;">
                <i class="fas fa-shopping-cart"></i>
              </a>
            </button>
          </td>
        </tr>
        `
      }
      document.getElementById('contenido').innerHTML = inner;
    } else {
      inner += `<div class="alert alert-warning">No hay productos</div>`
      document.getElementById('error-productos').innerHTML = inner;
    }

  }
  traerProductos();

</script>