<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <title>EJS</title>
</head>
<body>
    <form action="/productos" method="POST" style="width: 20%; margin: 20px;">
        <h4 style="color: #0000ff; font-weight: bold; padding-bottom: 20px;">Ingrese el Producto</h4>
        <div class="form-group ">
          <label for="title" style="font-weight: bold;">Title</label>
          <input
            type="text"
            name="title"
            placeholder="Enter Title"
            class="form-control"
            required
          />
        </div>
        <div class="form-group">
          <label for="price" style="font-weight: bold;">Price</label>
          <input type="number" name="price" class="form-control" required />
        </div>
        <div class="form-group">
          <label for="thumbnail" style="font-weight: bold;">Thumbnail Link</label>
          <input
            type="text"
            name="thumbnail"
            placeholder="Enter Thumbnail Link"
            class="form-control"
            required
          />
        </div>
        <div>
          <button type="submit" class="btn btn-success">Guardar</button>
        </div>
      
      </form>
      <a href="/productos" style="margin-left: 20px;">
        <button class="btn btn-primary">Productos</button>
      </a>
</body>
</html>